#snow_window{
  width: 300px;
}
#snow_window_contents{
  background: url(' ../images/corners/snowWindow_contents.png') bottom center no-repeat #FADFCB;
  font-family: courier new;
  font-size: 12px;
}
#snow_window_tl{
  width: 14px;
  height: 14px;
  background: url('../images/corners/snowWindow_tl.png') top left no-repeat transparent;
}
* html #snow_window_tl{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corners/snowWindow_tl.png', sizingMethod='crop');
}
#snow_window_t{
  background: url('../images/corners/snowWindow_t.png') top left repeat-x transparent;
}
#snow_window_tr{
  width: 14px;
  height: 14px;
  background: url('../images/corners/snowWindow_tr.png') top left no-repeat transparent;
}
* html #snow_window_tr{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corners/snowWindow_tr.png', sizingMethod='crop');
}
#snow_window_l{
  width: 3px;
  background: url('../images/corners/snowWindow_l.png') top left repeat-y transparent;
}
#snow_window_r{
  width: 3px;
  background: url('../images/corners/snowWindow_r.png') top right repeat-y transparent;
}
#snow_window_bl{
  width: 14px;
  height: 14px;
  background: url('../images/corners/snowWindow_bl.png') top left no-repeat transparent;
}
* html #snow_window_bl{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corners/snowWindow_bl.png', sizingMethod='crop');
}
#snow_window_b{
  background: url('../images/corners/snowWindow_b.png') top left repeat-x transparent;
}
#snow_window_br{
  width: 14px;
  height: 14px;
  background: url('../images/corners/snowWindow_br.png') top left no-repeat transparent;
}
* html #snow_window_br{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corners/snowWindow_br.png', sizingMethod='crop');
}
#snow_window_close{
  width: 13px;
  height: 13px;
  background: url('../images/corners/snowWindow_close.png') top left no-repeat transparent;
  margin: 10px 0 0 -10px;
  cursor: pointer;
}
* html #snow_window_close{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corners/snowWindow_close.png', sizingMethod='crop');
}
#snow_window_beak{
  width: 27px;
  height: 37px;
  background: url('../images/corners/snowWindow_beak.png') top left no-repeat transparent;
}
* html #snow_window_beak{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corners/snowWindow_beak.png', sizingMethod='crop');
}
#snow_window_contents .section1{
  margin: 0;
  padding: 0;
}
#snow_window_contents .section2{
  margin: 0;
  padding: 0;
  background-color: #FFDFDF;
  border-bottom: dotted 1px #900;
  border-top: dotted 1px #900;
}
#snow_window_contents p{
  margin: 1px 0;
  padding: 5px;
}
#snow_window_contents .title{
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  background-color: #900;
}